.myp {
    margin: 20px 50px ;
    position: relative;
    padding:10px;
    background-color: #796CBA;
}

.textarea {
    width: 100%;
    outline: none;
}

.btn {
    background: #9278f8;
    border: 0;
    color: #fff;
    font-size: 14px;
}

.post {
    margin-left: 50px;
}