.nav {
    grid-area: nav;
background-color: #856df8;
display: block;

}
.item {
    display: flex;
    margin: 10px 30px;
    font-family: 'Baloo Da 2', cursive;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.best {
    margin-top: 50px;
}