.nav {
    grid-area: nav;
background-color: #40E0D0;
display: block;

}
.item {
    display: block;

    margin: 10px 30px;
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
}
.active {
    background: #3fcebf;
    border-radius: 30px;
}
.best {
    margin-top: 50px;
}