.app-wrapper {
    margin: 0 auto;
    grid-template-areas: "header header header" "nav content content";
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 100%;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #856df8;
}
.material-icons {
    cursor: pointer;
}

