.message {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.active {
    background-color: #63f567;
    border-radius: 5px;
}
.dialogs {
margin: 20px;
}

.dialog {
    margin: 10px;
    padding-left: 5px;
}

.chats {
    margin: 20px;
}

.message {
    margin: 10px;
    padding-left: 5px;
}
.send {
    width: 300px;
    border-radius: 10px;
    outline: none;
}
.btn {
    width: 45px;
    height: 25px;
}
